@model Masjid.Services.HomeService

<section id="review"
         class="card"
         style="min-height: 80vh; background-color: aliceblue">
    <div class="container">
        <div class="row">
            <div class="col text-center pt-3">
                <h1 class="text-capitalize text-dark mb-8"
                    style="font-size: large">
                    <strong><u>Hadith of the day</u></strong>
                </h1>
            </div>
        </div>
        <div class="row">
            <div class="my-4 px-2">
                <blockquote class="blockquote text-right">
                    <p class="font-italic">
                        <i class="fas fa-quote-left fa-1x mr-3"></i> Allah's
                        Messenger (ﷺ) (p.b.u.h) said, "The taking of a bath on
                        Friday is compulsory for every male (Muslim) who has
                        attained the age of puberty."<i class="fas fa-quote-right fa-1x ml-3"></i>
                    </p>
                    <footer class="blockquote-footer text-left">
                        Narrated Abu Sa`id Al-Khudri:
                    </footer>
                </blockquote>
            </div>
        </div>
    </div>
</section>