@model Masjid.Services.HomeService

@{
    Layout = "_Layout";
}


<form class="mb-2">
    <div class="card bg-light" style="min-height: 80vh">
        <img class="card-img-top" src="eventpic.jpg" alt="Card image cap">
        <div class="card-body ">
            <h5 class="card-title ">

                <div class="d-flex justify-content-between ">
                    <div><u>Wedding</u></div>
                    <div><h6> Price: <span class="  imam-nav-name ">Free!!</span></h6></div>
                </div>

            </h5>
            <h6 class="">Time & Place: <span style="font-weight: 600; font-size: 10px;">123 N Main St,East Lansing,MI at 8:00 PM</span></h6>
            </h5>
            <p class="card-text"> Please Join us next sunday to celebrate the Nikkah of the Brother Man MAN and sister Hafsa. May Allah bless their couple</p>
            <footer class="blockquote-footer text-right">
                Imam Shazad
            </footer>
            <button type="submit" class="btn btn-danger mb-4" style=" font-size: 10px;">Delete</button>
        </div>
    </div>
</form>
