




@{
    Layout = "_Layout";
}



 <!-- Menu Beginning -->
    <section class="d-flex justify-content-between ">
      <div class="menu col-lg-3 p-0" style="max-height: 80vh">
        <div class="card bg-color" >
          <div
            class="card-header bg-primary text-white text-uppercase text-center py-3"
          >
            <h5>Our Community</h5>
          </div>

          <ul class="list-group list-group-flush text-center">
            <li class="list-group-item" style="background-color: aliceblue">
              <a href="#" class="btn font-italic">
                <u>After-School Program</u></a
              >
            </li>
            <li class="list-group-item" style="background-color: aliceblue">
              <a href="#" class="btn font-italic"><u>Islamic Classes</u></a>
            </li>
            <li class="list-group-item" style="background-color: aliceblue">
              <a href="#" class="btn font-italic"><u>Youth Program</u></a>
            </li>
            <li class="list-group-item" style="background-color: aliceblue">
              <a href="#" class="btn font-italic"><u>Events</u></a>
            </li>
             <li class="list-group-item" style="background-color:gold"><a href="#" class="btn font-italic " ><u>Zaakat al-Mutr</u></a></li> 
          </ul>
          <div class="card-footer p-0">
            <button
              type="submit"
              class="btn btn-outline-dark btn-block btn-lg text-uppercase glow "
            >
              Donate
            </button>
          </div>
        </div>
      </div>
      <!-- Menu End -->

      <!-- Feed beginning -->
      <div class="feed col-lg-5 shadow p-0 mb-5 bg-body rounded">



       
         
             
      
     
          <div class=" p-0">
              <div id="example" class="carousel carousel-dark slide" data-ride="carousel">
                  <ul class="carousel-indicators ">
                      <li data-target="#example" data-slide-to='0' class="active bg-dark"></li>
                      <li data-target="#example" data-slide-to='1' class=" bg-dark"></li>
                      <li data-target="#example" data-slide-to='2' class=" bg-dark"></li>
                     
                  </ul>
      
                  <!-- images -->
                  <div class="carousel-inner p-0 ">
                      <div class="carousel-item active">
                        <div class="card " style="min-height: 80vh">
                          <div
                            class="card-header font-italic text-capitalize"
                            style="background-color: gold"
                          >
                            <strong><h3>Fund Raisng</h3></strong>
                          </div>
                          <div class="card-body bg-light">
                            <h5 class="card-title">Sunday School Lunch</h5>
                            <p class="card-text announcement" style="font-weight: 100;">
                              Dear brothers and sisters, as you all know the new school year is
                              starting in about a month, and we need funds to support the
                              kitchen for the kid's lunch.W can't make this possible without
                              you,we are commited this year to provide Hala and organic foods
                              for the kids, and this come at a cost .Please be generous in your
                              donations
                            </p>
                            <footer class="blockquote-footer text-right">Board of Directors</footer>
                          </div>
                        </div>
                      </div>
                      <div class="carousel-item  ">
                        <div class="card " style="min-height: 80vh">
                          <div
                            class="card-header font-italic text-capitalize"
                            style="background-color: cyan"
                          >
                            <strong><h3>General Announcement</h3></strong>
                          </div>
                          <div class="card-body bg-light">
                            <h5 class="card-title text-capitalize">Prayer Time change</h5>
                            <p class="card-text announcement">
                              From November 14th,2023 we will be praying the prayer of Fajr at 5:30AM and the prayer of Ishaa at 6:30PM. Please be on time for the prayer. May Allah reward you for your efforts.
                            </p>
                            <footer class="blockquote-footer text-right">Imam Khalilou</footer>
                          </div>
                        </div>
                      </div>
                      <div class="carousel-item">
                        <div class="card " style="min-height: 80vh">
                          <div
                            class="card-header font-italic text-capitalize"
                            style="background-color: red"
                          >
                            <strong><h3>Funeral</h3></strong>
                          </div>
                          <div class="card-body bg-light">
                            <h5 class="card-title text-capitalize">To God we belong and to him we shall return</h5>
                            <p class="card-text announcement">
                              Dear brothers and sisters, it's with great sadness that we inform you of the passing of our beloved brother, Mr. John Doe. May Allah grant him Jannah and may Allah grant his family the strength to bear this loss. May Allah reward you for your efforts.
                            </p>
                            <footer class="blockquote-footer text-right">Imam Khalilou</footer>
                          </div>
                        </div>
                      </div>
                     
                  </div>
         <!-- end of images -->
          <a href="#example" class="carousel-control-prev" data-slide="prev">
              <span class="carousel-control-prev-icon text-dark"></span>
          </a>
          <a href="#example" class="carousel-control-next " data-slide="next">
              <span class="carousel-control-next-icon text-dark "></span>
          </a>
              </div>
          </div>
      
      </div>

      <!-- Feed end -->

      <!-- Hadith Beginning -->
      <div class="hadith col-lg-3 p-0">
        <section
          id="review"
          class="card"
          style="min-height: 80vh; background-color: aliceblue"
        >
          <div class="container">
            <div class="row">
              <div class="col text-center pt-3">
                <h1
                  class="text-capitalize text-dark mb-8"
                  style="font-size: large"
                >
                  <strong><u>Hadith of the day</u></strong>
                </h1>
              </div>
            </div>
            <div class="row">
              <div class="my-4 px-2">
                <blockquote class="blockquote text-right">
                  <p class="font-italic">
                    <i class="fas fa-quote-left fa-1x mr-3"></i> Allah's
                    Messenger (ﷺ) (p.b.u.h) said, "The taking of a bath on
                    Friday is compulsory for every male (Muslim) who has
                    attained the age of puberty."<i
                      class="fas fa-quote-right fa-1x ml-3"
                    ></i>
                  </p>
                  <footer class="blockquote-footer text-left">
                    Narrated Abu Sa`id Al-Khudri:
                  </footer>
                </blockquote>
              </div>
            </div>
          </div>
        </section>
      </div>

      <!-- Hadith End -->
    </section>