.prof img {
    width: 100%;
    height: auto;
    border-radius: 50%;
  }
  .prof {
    max-width: 75px;
  }
  .bg-color {
    background-color: aliceblue;
  }

  .itc{
    font-style: italic;
  }

  .ft{top: 0;position: relative;}

  .c0164 {
    flex: 0 1 auto;
    display: flex;
    position: relative;
    flex-direction: column;
}

.c0149 {
  width: 100%;
  height: 100vh;
  padding: 0;
  overflow-y: hidden !important;
  overflow-x: auto;
  top: 0px;
  position: sticky;
}